@using TicariOtomasyon.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<br />
<h2>Kargo Takip</h2>
<br />
<br />
@using (Html.BeginForm("KargoTakip", "CariPanel", FormMethod.Get))
{
    <p>
        Kargo Takip Numarası: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}
<br />

<table class="table table-bordered">
    <tr>
        <th>Takip Kodu</th>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TakipKodu</td>
            <td>@item.Personel</td>
            <td>@item.Alici</td>
            <td>@item.Tarih</td>
            <td> <a href="/CariPanel/CariKargoTakip/@item.TakipKodu" class="btn btn-success" style="background-color:indianred; color:white"> Detaylar </a> </td>
        </tr>
    }

</table>



