@model TicariOtomasyon.Models.Siniflar.Cari
@{
    ViewBag.Title = "YeniCari";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Cari</h2>
<br />
<form class="form-group" method="post">

    @Html.Label("Cari Ad")
    @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
    <br />

    @Html.Label("Cari Soyad")
    @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
    <br />

    @Html.Label("Cari Şehir")
    @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
    <br />

    @Html.Label("Cari Mail")
    @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
    <br />

    <button class="btn btn-info"> Kaydet </button>
</form>

